#contact-form {
	@include clearfix;
	background-color: $lgrey5;
	> div {
		min-height: em(416);
		@include desktop {
			min-height: em(616);
		}

		&.img-holder {
			background-image: url('../img/misc/bg_form.jpg');
			background-size: cover;
			background-position: bottom right;
		}

		&.form-wrapper {
			h2 {
				text-align: center;
				text-transform: uppercase;
			}
			.wpcf7 {
				form {
					max-width: em(450);
					margin: em(16) auto;
					.wpcf7-form-control-wrap {
						input {
							background-color: rgba(255,255,255,0.4);
							&[type="text"],
							&[type="email"] {
								border-radius: em(16);
								box-shadow: inset 0 0 em(12) $grey;
							}
						}
						textarea {
							background-color: rgba(255,255,255,0.4);
							box-shadow: inset 0 0 em(12) $grey;
						}
					}
					.btn {
						&.btn-primary {
							background-color: $red;
							display: block;
							min-width: em(300);
							text-align: center;
							text-transform: uppercase;
							border: none;
							border-radius: em(12);
							margin: em(16) auto;
						}
					}
				}
			}
		}
	}
}