body {
	.navbar {
		background-color: $lgrey;
		transition: all 0.5s;
		&.affix{
			width: 100%;
			transition: all 0.5s;
			.container-fluid {
				#navbar {
					ul {
						&.menu {
							li {
								a {
									padding: em(20) em(32);
									transition: all 0.5s;
								}
							}
						}
					}
				}
			}
		}
		.container-fluid {
			//logo
			.navbar-header {
				@include desktop {
					float: none;
					display: inline-block;
					vertical-align: middle;
				}
				.navbar-brand {
					float: none;
					display: block;
					width: 336px;
					height: 54px;
					background-image: url('../img/logos/logo.png');
					background-size: contain;
					background-repeat: no-repeat;
					text-indent: -9999999px;
					padding: 0;
					margin: 0;
					@include mobile {
						width: 230px;
						height: 50px;
					}
				}
			}
			//menu
			#navbar {
				vertical-align: middle;
				width: 100%;
				@include tablet {
					display: inline-block !important;
					width: 100%;
					text-align: left;
				}
				@include desktop {
					display: inline-block !important;
					width: 54%;
					text-align: center;
				}
				ul {
					&.menu {
						padding: 0;
						margin: 0;
						list-style: none;
						@include tablet {
							display: inline-block;
							vertical-align: middle;
						}
						@include desktop {
							display: inline-block;
							vertical-align: middle;
						}
						li {
							@include desktop {
								display: inline-block;
								vertical-align: top;
							}
							@include tablet {
								display: inline-block;
								vertical-align: middle;
							}
							a {
								display: block;
								color: $black;
								font-size: em(18);
								text-align: center;
								padding: em(30) em(32);
								transition: all 0.3s;
								text-transform: uppercase;
								font-family: $bold;
								border-bottom: em(4) solid $lgrey;
								&:hover {
									background-color: $black;
									color: $white;
									border-color: $red;
								}
								@include tablet {
									padding: em(20);
								}
								@include mobile {
									padding: em(12);
								}
							}
						}
					}
				}
			}
			//Sponsor
			.sponsor {
				@include tablet {
					display: block;
					position: absolute;
					top: 17px;
					right: 41px;
				}
				@include mobile {
					display: none;
				}
				display: inline-block;
				vertical-align: middle;
				img {
					max-width: 100%;
				}
			}
		}
	}
}