body {
	&.home {
		//slider
		.hero-slider {
			.full-slider {
				padding: 0;
				margin: 0;
				li {
					position: relative;
					img {
						width: 100%;
						height: auto;
					}
					.full-slider--txt {
						position: relative;
						text-align: center;
						@include desktop {
							position: absolute;
							top: 0;
							right: 0;
							width: 44%;
							text-align: right;
							padding: em(30) em(40);
						}
						h2 {
							font-size: em(25);
							color: $grey;
							letter-spacing: em(4);
							@include desktop {
								font-size: em(40);
								text-transform: uppercase;
								letter-spacing: em(4);
								padding: 0 0 em(20);
							}
							strong {
								font-weight: inherit;
								color: $red;
							}
						}
						p {
							color: $grey-1;
							font-size: em(18);
							letter-spacing: em(4);
							@include desktop {
								max-width: em(332);
								display: inline-block;
							} 
							strong {
								font-weight: inherit;
								color: $red;
							}
							a {
								@include btn;
								letter-spacing: normal;
							}
						}
					}
				}
				//controls
				.slick-arrow {
					&.slick-prev {
						left: em(23);
						z-index: 10;
						&::before {
							@include fa-icon("\f053",$red,20px);
						}
					}
					&.slick-next {
						right: em(23);
						z-index: 10;
						&::before {
							@include fa-icon("\f054",$red,20px);
						}
					}
				}
				//pager
				.slick-dots {
					bottom: 10px;
					li {
						&.slick-active {
							button {
								&::before {
									font-size: 15px;
									color: $red;
									border-color: $red;
								}
							}
						}
						button {
							&::before {
								font-size: 15px;
								color: $grey;
								border-color: $white;
							}
						}
					}
				}
			}
		}// eof slider
		
		//rows
		.video-rows{
			.video-rows--video-post {
				position: relative;
				padding: em(50) 0;
				background: #6a7780; /* Old browsers */
				background: -moz-linear-gradient(45deg, #6a7780 1%, #16191e 48%, #0c0d11 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(45deg, #6a7780 1%,#16191e 48%,#0c0d11 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(45deg, #6a7780 1%,#16191e 48%,#0c0d11 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a7780', endColorstr='#0c0d11',GradientType=1 );
				@include desktop {
					padding: em(120) 0;
				}
				.container {
					@include clearfix;
					.description {
						color: $white;
						img {
							max-width: 100%;
						}
						h3{
							font-size: em(18);
							text-transform: uppercase;
							strong{
								color: $red;
								font-weight: inherit;
							}
						}
						video {
							width: 100%;
						}
						ul {
							padding: 0;
							li {
								font-size: em(14);
								margin-bottom: em(18);
								list-style: none;
								position: relative;
								img {
									margin-top: em(12);
								}
								&::before {
									content: "• ";
									color: $red;
									position: absolute;
									left: -18px;
									top: -8px;
									font-size: em(25);
								}
							}
						}
					}
					// Gallery
					.gallery {
						@include desktop {
							overflow-y: auto;
							max-height: em(970);
						}
						.item-gallery {
							overflow: hidden;
							width: 96%;
							margin: 2%;
							cursor: pointer;
							&:hover {
								opacity:0.75; 
							}
							
							@include desktop {
								display: inline-block;
								width: 45%;
								vertical-align: top;
								margin: 4% 2%;
								&:hover {
									opacity:0.75; 
								}
							}
							img{
								width: 100%;
								height: auto;
								@include desktop {
									width: auto;
									height: 240px;
								}
							}
						}
					}
					//video
					
					video {
						width: 100%;
						height: em(374);
					}
					
					
					&::after {
						content: "";
						display: block;
						position: absolute;
						bottom: -1.5px;
						left: 50%;
						background-color: $white;
						transform: translateX(-50%);
						width: 40%;
						height: em(6);
					}
				}
				&:nth-child(even){
					background: #0c0d11; /* Old browsers */
					background: -moz-linear-gradient(45deg, #0c0d11 1%, #16191e 48%, #6a7780 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(45deg, #0c0d11 1%,#16191e 48%,#6a7780 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(45deg, #0c0d11 1%,#16191e 48%,#6a7780 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0d11', endColorstr='#6a7780',GradientType=1 );
					.container {
						> div{
							@include desktop {
								float: right;
							}
						}
					}
				}
			}
		}//eof videos

		//Single rows
		.single-rows {
			padding: em(50) 0;
			position:relative;
			@include desktop {
				padding: em(120) 0 em(60);
			}
			.backwards {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 50%;
				background-image: url('../img/misc/bg-cars.jpg');
				background-attachment: fixed;
				background-size: cover;
				z-index: -1;
				@include mobile {
					height: 100%;
				}
			}
			article {
				figure {
					display: block;
					width: 100%;
					margin: inherit;
					img {
						width: 100%;
					}
				}
				.txt {
					img {
						max-width: 100%;
						margin: em(10) auto;
						display: block;
					}
				}
				h3 {
					font-size: em(24);
					color: $black;
					font-family: $bold;
					text-transform: uppercase;
					text-align: center;
					@include mobile {
						color: $white;
					}
				}
				p {
					text-transform: uppercase;
					font-size: em(27);
					letter-spacing: em(3);
					@include mobile {
						color: $white;
					}
					span {
						color: $red;
						@include mobile {
							color: $white;
						}
					}
				}
			}
		}//EOF Single rows
	}
}